button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button.primary {
    background-color: var(--white);
    color: var(--black);
  }
  button:hover {
    border-color: var(--black);
  }
}

button.primary {
  color: var(--white);
  background-color: var(--black);
}

button.success {
  color: var(--white);
  background-color: var(--success);
}

button.danger {
  color: var(--white);
  background-color: var(--danger);
}

button:hover:disabled {
  border: 1px solid transparent;
}

button:focus:disabled,
button:focus-visible:disabled {
  outline: none;
}

button:disabled {
  background-color: var(--disabled-grey);
}
